@model Novinichka.Web.ViewModels.News.ListAllNewsViewModel

@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Брой на новините в платформата: @this.Model.ItemsCount</h1>
</div>

<partial name="_PagingPartial" model="@this.Model" />

@foreach (var news in this.Model.News)
{
    <article class="clearfix">
        <div class="px-2">
            <h3 class="h5">
                <a asp-controller="News" asp-action="Details" asp-route-id="@news.Id">
                    <span title="@news.SourceName">@news.SourceShortName: </span>
                    @news.Title
                </a>
            </h3>
            <div class="media">
                <a asp-controller="News" asp-action="Details" asp-route-id="@news.Id" class="d-flex mr-2">
                    <img class="rounded" src="@news.ImageUrl" width="100" height="60" alt="@news.SourceShortName" title="@news.Title">
                </a>
                <p class="text-justify mb-2">
                    @news.ShortContent
                </p>
            </div>
            <ul class="d-flex justify-content-start align-items-end list-inline">
                <li class="list-inline-item">
                    <span>
                        <a href="@news.OriginalUrl" target="_blank">@news.SourceName</a>
                    </span>
                </li>
                <li class="list-inline-item ml-auto">
                    <span>@news.CreatedOnAsString</span>
                </li>
            </ul>
        </div>
    </article>
}

<partial name="_PagingPartial" model="@this.Model" />
