@model Novinichka.Web.ViewModels.Administration.Sources.ListAllSourcesViewModel

@{
    this.ViewData["Title"] = "All Sources";
}

@if (this.TempData["ErrorMessage"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Warning:</strong> @this.TempData["ErrorMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
else if (this.TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success:</strong> @this.TempData["SuccessMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<partial name="_PagingPartial" />

<table class="table table-bordered table-sm table-hover text-center">
    <thead>
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Type name</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var source in this.Model.Sources)
        {
            <tr>
                <td><a href="@source.Url" target="_blank"><img src="@source.SmallBannerUrl" width="30" height="30" /></a></td>
                <td>@source.ShortTypeName</td>
                <td>@source.ShortName - @source.Name</td>
                <td>@source.ShortDescription</td>
                <td>
                    @if (!source.IsDeleted)
                    {
                        <a asp-controller="Sources" asp-action="Delete" asp-route-id="@source.Id"><i class="fas fa-times text-danger"></i></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_PagingPartial" />
